.post{
    display: flex;
    flex-direction: column;
}

.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    align-content: center;
    margin: 1rem 1rem;
    text-align: center;
}

.post-creator{
    margin: 0 1rem;
    padding: 0;
}

.post-name{
    display: flex;
    margin: .5rem 1rem;
}

.head:hover{
    cursor: pointer;
    color: #535bf2;
    background-color: var(--background-contrast);
    border-radius: 1rem;
}

.post-content{
    display: flex;
    margin: 0rem 1rem;
}

.text-content{
    padding: 0;
    margin: 0 0 .5rem 0;
}

hr{
    margin: 0;
}