.seccion{
    display: flex;
    flex-direction: row;
    background-color: var(--background-contrast);
    padding: 3rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.categoria{
    margin: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--button-background-light);
    padding: 2rem;
    border-radius: 1rem;
    min-width: 50%;
}

.categoria:hover{
    cursor: pointer;
    box-shadow: -2px -2px 2px inset #535bf2;
    color: #535bf2;
}

.ultimo-post{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    align-items: center;
}