.sideboard-content{
    margin: 1rem;
    border: 2px solid var(--title-text-light);
    width: 30vw;
}

.add-tema-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color: #535bf2;
}

.add-tema-content:hover{
    cursor: pointer;
    color: #adff2f;
    background-color: var(--background-contrast);
    border-radius: 1rem;
}

.add-post-icon{
    width: 3rem;
    height: auto;
    margin: 1rem 1rem 1rem 0;
}

.add-post-span{
    margin: 0;    
    padding: 0;
    font-family: "menu";
}