.editor{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--background-contrast);
}

.editor-container {
    height: auto;
}

.ql-toolbar{
    background-color: rgb(234, 234, 236);
    height: auto;
}

.ql-editor{
    background-color: rgb(234, 234, 236);
    height: auto;
}

.text-form{
    color: black;
    height: 17rem;
}

.btn-editor{
    margin: 5rem 0 0 0;
    align-self: flex-end;
}

.agregar, .ver{
    margin: 0 0 0 1rem;
}

.agregar:hover, .ver:hover{
    color: #535bf2;
}

.quote{
    background-color: var(--button-background-light);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.quote-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.quote-info > p {
    margin-right: .5rem;
}

.quote-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.delete-quote{
    background-color: var(--background-contrast);
    position: relative;
    right: 0;
}