.reg-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    min-width: 20vw;
}

input {
    all: unset;
    margin: .5rem 0;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid transparent;
    border-color: var(--button-text-light);
    background-color: var(--button-background-light);
    color: var(--button-text-dark);
    
}

.reg-btn{
    margin: .5rem 0;
    height: 3rem;
    color: var(--title-text-light);
}