nav{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

nav *{
    margin: 1rem;
}

h1{
    margin: 0;
}

button{
    height: 3rem;
    /* margin: 1rem; */
    /* padding: 1rem; */
}