.comment-header{
    display: flex;
    margin-top: 1rem;
}

h4{
    margin: 0 3rem 0 1rem;
}

span{
    margin: 0;
    padding: 0;
}

.comment-body{
    background-color: var(--background-contrast);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0 4rem 0;
}

.comment-content{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.comment-button{
    margin: .5rem;
}