.add-post-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    padding: 0rem 0 0rem 0;
}

.add-panel{
    width: 95%;
    height: auto;
    padding: 1rem;
}

.title-conteiner{
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.post-title{
    font-size: large;
    padding: 0 1rem;
    background-color: var(--button-background-light) !important;
}

.title-input{
    width: 80%;
    padding: .5rem;
}