.add-post-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    padding: 2rem 0 1rem 0;
}

.add-panel{
    border: 2px solid var(--title-text-light);
    width: 95%;
    height: auto;
    padding: 1rem;
}

.post-title{
    font-size: large;
    padding: 0 1rem;
}

.title-input{
    width: 90%;
}